{% extends 'partials/base.html' %} {% load static %} {% load humanize %} {% block content %}
<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Acasă</a></li>
                        <li class="breadcrumb-item"><a href="#">Altele</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Termeni și Condiții</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row align-items-center justify-content-between">
        
            <div class="col-xl-11 col-lg-12 col-md-6 col-sm-12">
                <div class="abt_caption">
                    <h2 class="ft-medium mb-4">Termeni și Condiții</h2>
                    <p class="mb-4">Prin utilizarea acestui site, ești de acord să respecți și să fii legat de acești termeni și condiții. Dacă nu ești de acord cu acești termeni, te rugăm să nu utilizezi site-ul.</p>
                    <p class="mb-4">Tot conținutul, inclusiv textul, grafica, logo-urile, imaginile și alte materiale disponibile pe site sunt proprietatea [Numele Site-ului] sau a furnizorilor săi și sunt protejate de legile privind drepturile de autor. Este interzisă utilizarea, reproducerea sau distribuirea acestor materiale fără acordul nostru scris.</p>
                    <p class="mb-4">Accesul și utilizarea site-ului trebuie să fie realizate în scopuri legale. Utilizatorii nu au voie să folosească site-ul în moduri care pot afecta negativ funcționarea acestuia, să distribuie conținut ilicit sau să încalce drepturile altor utilizatori.</p>
                    <p class="mb-4">Politica noastră de confidențialitate explică modul în care colectăm, utilizăm și protejăm informațiile tale personale. Accesarea și utilizarea acestui site implică acceptarea acestei politici.</p>
                    <p class="mb-4">Site-ul nostru poate conține linkuri către alte site-uri web. Nu suntem responsabili pentru conținutul sau politicile acestor site-uri terțe și încurajăm utilizatorii să citească termenii și condițiile acestor</p>
                    <p class="mb-4">Acești termeni și condiții sunt guvernați de legile din România. Orice litigiu va fi soluționat în conformitate cu legislația aplicabilă din România.</p>
                   
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}